/libros/AdministracionParaEmprendedores.pdf
/out/production/Practica2Tika/tika/main/DocParser.class
/out/production/Practica2Tika/tika/main/Gui.class
/out/production/Practica2Tika/tika/main/Main.class
/libros/PintorDeAlmas.pdf
/out/production/Practica2Tika/tika/main/PrettyTable.class
